@model List<Rent>
@{
    ViewBag.Title = "Kiralamaların Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_SharedAdminLayout.cshtml";
}

@if (TempData["RentMsg"] != null)
{
    <div class="alert alert-success">
        @TempData["RentMsg"]
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste ve Düzenlemeler</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a href="@Url.Action("Add","Rents",new {area="Admin"})" role="button" aria-expanded="false"><i class="fa fa-wrench"></i> Ekle</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Client ID</th>                       
                        <th>Rented car</th>
                        <th>Start Date of Rent</th>
                        <th>End Date of Rent</th>
                        <th>Pick-up Place</th>
                        <th>Drop-off Place</th>
                        <th>Payment State</th>
                        <th>Invoice State</th>
                        <th>Car State</th>
                        <th>Created Date</th>
                        <th>Update Date</th>                        
                    </tr>
                </thead>

                <tbody>
                    @foreach (Rent item in Model)
                    {
                    <tr>
                        <td>@item.UserID</td>                        
                        <td>@item.CarID</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.PickUpPlace</td>
                        <td>@item.DropPlace</td>
                        @if (item.Paid == true)
                        {
                            <td>Paid</td>
                        }
                        else
                        {
                            <td>Not Paid</td>
                        }                        
                            <td>Billed</td>                        
                        @if (item.Returned == true)
                        {
                            <td>Car Returned</td>
                        }
                        else
                        {
                            <td>Car is rented</td>
                        }
                        <td>@item.CreatedDate</td>
                        <td>@item.ModifiedDate</td>
                        
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

